*.iml
.gradle
/.gradle-local
/.gradle-user-home
/.firebase-config
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/docs/03-fixtures
/scripts/serviceAccount.json
/app/google-services.json
/node_modules
/functions/node_modules
/functions/lib
nul
NUL
**/nul
**/NUL
